<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
</head>
<body>
    <form action="{{route('form.save')}}" method="post">
        {{csrfField()}}
        <input type="text" name="name" id="name"value="{{old('name', '')}}">
        <br>
        {{elIf('<span>$self</span>', getErrorFor('name'), hasErrorFor('name'))}}
        <br>
        <input type="text" name="phone" id="phone" value="{{old('phone'),''}}">
        <br>
        {{elIf('<span>$self</span>', getErrorFor('phone'),hasErrorFor('phone'))}}
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>