<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post List</title>
</head>
<body>
    <p>This is my list of posts</p>
    <p>One</p>
    <p>Two</p>
</body>
</html>